

#plus, #minus {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 32px;
}

#plus {
	background-color: #d491ea;
}

#minus {
	background-color: #91c9ea;
}

#display {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	border: 6px dotted #5e1c5c;
	text-align: center;
	padding-top: 22px;
}